@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --default-bg: #f5f6f7;
    --default-fg: #050505;
    --primary-bg: #ffffff;
    --primary-bg-dull: #f6f6f6;
    --secondary-bg: #e4e6eb;
    --secondary-bg-dull: #e4e6ee;
    --primary-fg: #1c1e21;
    --secondary-fg: #65676b;
    --danger-bg: #f02849;
    --danger-fg: #b00020;
    --warn-bg: #f7b928;
    --warn-fg: #c77c02;
    --dull-fg: #8d949e;
}

.dark {
    --default-bg: #18191a;
    --default-fg: #e4e6eb;
    --primary-bg: #242526;
    --primary-bg-dull: #2b2c2e;
    --secondary-bg: #3a3b3c;
    --secondary-bg-dull: #3a3838;
    --primary-fg: #e4e6eb;
    --secondary-fg: #b0b3b8;
    --danger-bg: #b00020;
    --danger-fg: #f02849;
    --warn-bg: #c77c02;
    --warn-fg: #f7b928;
    --dull-fg: #8a8d91;
}


@theme inline {
    --color-default-bg: var(--default-bg);
    --color-default-fg: var(--default-fg);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary-bg: var(--primary-bg);
    --color-primary-bg-dull: var(--primary-bg-dull);
    --color-secondary-bg: var(--secondary-bg);
    --color-secondary-bg-dull: var(--secondary-bg-dull);
    --color-danger-bg: var(--danger-bg);
    --color-warn-bg: var(--warn-bg);
    --color-primary-fg: var(--primary-fg);
    --color-secondary-fg: var(--secondary-fg);
    --color-danger-fg: var(--danger-fg);
    --color-warn-fg: var(--warn-fg);
    --color-default-bg-inverse: var(--default-fg);
    --color-default-fg-inverse: var(--default-bg);
    --color-dull-fg: var(--dull-fg);
}

@layer components {
    .button-dull {
        @apply p-1 px-3 m-1 text-xs text-dull-fg font-semibold rounded-md cursor-pointer flex flex-row gap-1 items-center;
    }

    body {
        background: var(--default-bg);
        color: var(--default-fg);
        font-family: Arial, Helvetica, sans-serif;
    }

    .scrollbar-hide {
        scrollbar-width: thin;
        scrollbar-color: var(--default-bg) transparent;
    }
}