@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --default-bg: #ffffff;
    --default-fg: #171717;
    --primary-bg: #f0f0f0;
    --secondary-bg: #e8e8e8;
    --primary-fg: #111111;
    --secondary-fg: #2b2b2b;
    --danger-bg: #ff0000;
    --danger-fg: #750000;
    --warn-bg: #dac100;
    --warn-fg: #f1d500;
    --dull-fg: #707070;
}

.dark {
    --default-bg: #292929;
    --default-fg: #f1f1f1;
    --primary-bg: #1c1c1c;
    --secondary-bg: #4a4a4a;
    --primary-fg: #ededed;
    --secondary-fg: #d0d0d0;
    --danger-bg: #750000;
    --danger-fg: #ff0000;
    --warn-bg: #af9b00;
    --warn-fg: #c6af00;
    --dull-fg: #a9a9a9;
}

@theme inline {
    --color-default-bg: var(--default-bg);
    --color-default-fg: var(--default-fg);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary-bg: var(--primary-bg);
    --color-secondary-bg: var(--secondary-bg);
    --color-danger-bg: var(--danger-bg);
    --color-warn-bg: var(--warn-bg);
    --color-primary-fg: var(--primary-fg);
    --color-secondary-fg: var(--secondary-fg);
    --color-danger-fg: var(--danger-fg);
    --color-warn-fg: var(--warn-fg);
    --color-default-bg-inverse: var(--default-fg);
    --color-default-fg-inverse: var(--default-bg);
    --color-dull-fg: var(--dull-fg);
}

@layer components {
    .button-dull {
        @apply p-1 px-3 m-1 text-xs text-dull-fg font-semibold rounded-md cursor-pointer flex flex-row gap-1 items-center;
    }

    body {
        background: var(--default-bg);
        color: var(--default-fg);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .scrollbar-hide {
        scrollbar-width: thin;
        scrollbar-color: var(--default-bg) transparent;
    }
}